

.tamano8{
    font-size: 10px;
    padding: 10px;
}

.namesDoctor{
    font-size: 13px;
    font-weight: bold;
}
.emailDoctor{
    font-size: 10px;
}
.filas{
    text-align: center;
    justify-content: center;
}
.card{
    background-color: #f2f2f2;
    // background: linear-gradient(220.55deg, #FFF6EB 0%, #DFD1C5 100%);
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
    padding: 10px;
    color: rgb(24, 24, 24);
}
.card__name{
    font-size: 13px;
}  

.span{    
    font-weight: bold;
}

.buttonRegister{
    position: fixed;
}







  