<ion-header>
  <ion-toolbar>
    <ion-title>Total de citas</ion-title>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/principal"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content>
  <ion-list>    
    <ion-item *ngFor="let item of cites">
      <ion-avatar slot="start">
        <img [src]="item.ImagenDoc" />
      </ion-avatar>
      <ion-label>
        <h2>{{item.Area}}</h2>
        <h3>Dr. {{item.NombreDoc}} {{item.ApellidoDoc}}  |  Paciente: {{item.NombreUsu}} {{item.ApellidoUsu}}</h3>
        <p>Fecha: {{item.fecha}}</p>
        <p>Hora: {{item.hora_inicio}} - {{item.hora_final}}</p>        
        <p         
        [ngClass]="{'pendiente' : item.estado === 'Pendiente', 'cancelado' : item.estado === 'Cancelado', 'asistido' : item.estado === 'Asistido'}"        
        >Estado: {{item.estado}}</p>
      </ion-label>
    </ion-item>
    
  </ion-list>
  
</ion-content>
