<app-header titulo="Iniciar sesión"></app-header>

<ion-content>
  <div id="login" class="content">
    <ion-row class="header ion-align-items-center information">
      <ion-col size="10">
        <img src="assets/images/banner1.png" alt="">
      </ion-col>
    </ion-row>

    <form >
      <ion-grid>
        <ion-row color="transparent" justify-content-center>
          <ion-col align-self-center size-xs="12">
            <div padding>
              <ion-item>
                <ion-input name="usuario" type="text" placeholder="Usuario" [(ngModel)]="dataUser.email" value="John" required>
                </ion-input>
              </ion-item>
              <ion-item>
                <ion-input name="password" type="password" placeholder="Contraseña" [(ngModel)]="dataUser.password"
                  required autocomplete="new-password"></ion-input>
              </ion-item>
              <ion-button color="success" type="submit" (click)="login()">Iniciar sesión</ion-button>
            </div>
          </ion-col>
        </ion-row>
      </ion-grid>
    </form>
    <div class="pie-form">
      <a routerLink="/register">¿No tienes Cuenta? Registrate</a>
    </div>
  </div>
</ion-content>