
<section class="content">
  <div class="information">
    <img src="../../../assets/images/welcome.png" alt="">
    <h1>Bienvenido</h1>
    <p>Aplicación oficial de agendamiento de citas del hospital UPSE</p>
  </div>
  <div class="buttons">
    <button class="login" routerLink="/login">Iniciar sesión</button>
    <button class="register" routerLink="/register">Registrarse</button>
  </div>
</section>

<footer>  
  <span>&copy; Todos los derechos reservados</span>
  <span>Hospital de la UPSE - 2022</span>
</footer>


